name: Build and Push to ACR (OIDC)

on:
  push:
    branches:
      - main

permissions:
  id-token: write    # REQUIRED for OIDC
  contents: read

env:
  IMAGE_NAME: hello-world-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Hello-World
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: az acr login --name acrtesthariuse

      - name: Build and Push
        run: |
          IMAGE=acrtesthariuse.azurecr.io/hello-world:latest
          docker build -t $IMAGE .
          docker push $IMAGE
